{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'blog/assets/img/d.jpg' %}');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2>Iniciar sesión</h2>
                        <span>Complete el formulario para iniciar sesión</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
        <div class="container px-1 px-lg-4 col-lg-20">
            <h4>Formulario:</h4>
        </div>
            <!-- Divider-->
            <hr class="my-4" />
                <div class="container text-center">
                    <div class="container">
                        <div class="text-center">
                            <form id="login-form" style=" width: 50vw; margin-left : 15vw;" method="post">
                                {% csrf_token %}
                                {% if form.errors %}
                                <p style="color: red;"> Los datos ingresados son incorrectos, porfavor ingresar nuevamente</p>
                                {% endif %}   
                                <table class="table">
                                    <tbody><tr>
                                        <td><label for="id_username">Usuario</label></td>
                                        <td><input id="id_username" name="username" placeholder="Ingrese su nombre de usuario..." type="text" class="form-control"></td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_password">Contraseña</label></td>
                                        <td><input id="id_password" name="password" placeholder="Ingrese su contraseña..." type="password" class="form-control"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-outline-dark flex-shrink-0" type="submit">Iniciar sesión</button>
                            </form>
                        </div>
                    </div>
                    <p>¿No tenés cuenta? <a href="{% url 'blog-signup' %}">Registrarme</a></p>    
                </div>
        </div>
    </form>
    <div class="container px-1 px-lg-4 col-lg-20">
    {% if user.is_authenticated %}
    <p><a href="{% url 'blog-logout' %}">Salir de la sesión</a> |
    <a href="{% url 'profile-update' user.id %}">Actualizar usuario</a></p>
    {% endif %}
    </div>
{% endblock %}