{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Usuarios</h1>
                            <span class="subheading">Lista de usuarios registrados</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-6 px-lg-10">
            <h4>Usuarios:</h4><div><p><a href="{% url 'profile-update' user.id %}">Actualizar usuario actual</a>
                | <a href="{% url 'blog-signup' %}">Crear una nuevo usuario</a> | <a href="{% url 'blog-logout' %}">Salir de la sesión</a></p></div>
            <table class="table">
                <tr><th>ID</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    {% if user.is_authenticated %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
                {% for perfil in object_list %}
                    <tr>
                        <td>{{perfil.id}}</td>
                        <td>{{perfil.nombre_usuario}}</td>
                        <td>{{perfil.email}}</td>
                        <td>
                            {% if user.is_authenticated %}
                            <div>
                            <p><a href="{% url 'perfil-actualizar' perfil.id %}">Actualizar</a></p>
                            <p><a href="{% url 'perfil-borrar' perfil.id %}">Borrar</a>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
{% endblock %}