<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul>

{% block buscar %} {% endblock %}

{% for perfil in object_list %}
    <li>
        {{perfil}}
        <a href="{% url 'perfil-actualizar' perfil.id %}">Actualizar</a>
        <a href="{% url 'perfil-borrar' perfil.id %}">Borrar</a>
    </li>
{% endfor %}    
</ul>

</body>
</html>