{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static 'blog/assets/img/d.jpg' %}');">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h2>Registro</h2>
                        <span>Complete el formulario para registrarse</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-2 px-lg-6">
        <h4>Formulario:</h4>
    </div>
    <!-- Divider-->
    <hr class="my-4" />
        <form style=" width: 50vw; margin-left : 15vw;" method="post">
            {% csrf_token %}
        <p>
            <label for="id_email">Correo:</label>
            <input type="email" name="email" class="form-control" required="" id="id_email">
        </p>
        <p>
            <label for="id_username">Nombre de usuario</label>
                <input type="text" name="username" class="form-control" maxlength="20" placeholder="Ingrese su nombre de usuario..." autofocus="" required="" id="id_username">
                <div class="small container text-muted fst-italic"> 
                    <p>-Unicamente letras, numeros y @/./+/-/_</p>
                </div>
        </p>
        <p>
        <label for="id_password1">Contraseña</label>
        <input type="password" name="password1" class="form-control" placeholder="Ingrese su contraseña..." required="" id="id_password1">
        </p>
        <p>
        <label for="id_password2">Repita Contraseña</label>
        <input type="password" name="password2" class="form-control" placeholder="Repita su contraseña..." required="" id="id_password2">
        </p>
        <div class="small container text-muted fst-italic"> 
            <p>-Su contraseña no puede asemejarse tanto a su otra información personal.</p>
            <p>-Su contraseña debe contener al menos 8 caracteres.</p>
            <p>-Su contraseña no puede ser una clave utilizada comúnmente.</p>
            <p>-Su contraseña no puede ser completamente numérica.</p>
        </div>
        <div class="container text-center">
            <input class="btn btn-outline-dark flex-shrink-0" type="submit" value="Crear">
        </div>
        {% if form.errors %}
        <p style="color: red;"> Los datos ingresados no son correctos, intenta nuevamente</p>
        {% endif %}  
        </form>
        <div class="container position-relative px-4 px-lg-2">
            <p> 
            ¿Ya tenés cuenta?
            <a href="{% url 'blog-login' %}">Iniciar sesión</a>
            </p>     
        </div>
{% endblock %}