{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Iniciar sesión</h1>
                        <span class="subheading">Complete el formulario para iniciar sesión</span>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-2 px-lg-6">
    <h4>Formulario:</h4>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary text-uppercase endabled" type="submit">Iniciar sesión</button>
    </form>
    <p> ¿No tenés cuenta?
    <a href="{% url 'perfil-crear' %}">Crear una cuenta nueva</a>
    </p>
{% endblock %}