{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'blog/assets/img/post-bg.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blogs</h1>
                            <span class="subheading">Blogs de la comunidad</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-1 px-lg-4 col-lg-6">
            <p>Navega por los blogs de la comunidad, o ingresa lo que más te interese en el buscador</p>
            <div class="card mb-4 col-lg-11">
              <div class="card-header container"><h5>Buscar</h5></div>
              <div class="card-body container mb-8 px-lg-4 col-lg-14">
                    <form action="{% url 'search-by-name-post' %}" method="get">
                        {% csrf_token %}
                        <input type="search" placeholder="Ingresa tu busqueda..." name="post-titulo">
                        <input class="btn-primary text-uppercase endabled" type="submit" value="Ir!">
                    </form>     
                    </div>
                  </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% if  post.0 %}
                    <div class="post-preview">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src="{{ post.0.image.url }}" alt="..." /></a>
                        <a href=""><h1 class="post-title">{{post.0.titulo}}</h1></a>
                            <h3 class="post-subtitle">{{post.0.sub_titulo}}</h3>
                        <p class="post-meta">
                            Creado por
                            <a href="{% url 'perfil-list' %}">{{post.0.autor}}</a> el {{post.0.fecha}}
                            <a class="btn btn-primary text-uppercase endabled" id="submitButton" type="submit" href="">Leer más →</a>
                        </p>
                    </div>
                    {% endif %}
                    {% if  post.1 %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="!#"><img style="max-width:100%;" class="card-img-top" src="{% static 'blog/assets/img/about-bg.jpg' %}" alt="..." /></a>
                        <h1 class="post-title">{{post.1.titulo}}</h1>
                        <h3 class="post-subtitle">{{post.1.sub_titulo}}</h3>
                    <p class="post-meta">
                        Creado por
                        <a href="{% url 'perfil-list' %}">{{post.1.autor}}</a> el {{post.1.fecha}}
                            <a class="btn btn-primary text-uppercase endabled" id="submitButton" type="submit" href="">Leer más →</a>
                        </p>
                    </div>
                    {% endif %}
                    {% if  post.2 %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src="{{ posts.2.image.url }}" alt="..." /></a>
                        <a href=""><h1 class="post-title">{{post.2.titulo}}</h1></a>
                            <h3 class="post-subtitle">{{post.2.sub_titulo}}</h3>
                        <p class="post-meta">
                            Creado por
                            <a href="{% url 'perfil-list' %}">{{post.2.autor}}</a> el {{post.2.fecha}}
                            <a class="btn btn-primary text-uppercase endabled" id="submitButton" type="submit" href="">Leer más →</a>
                        </p>
                    </div>
                    {% endif %}
                    {% if  post.3 %}
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src="{{ posts.3.image.url }}" alt="..." /></a>
                        <a href=""><h1 class="post-title">{{post.3.titulo}}</h1></a>
                            <h3 class="post-subtitle">{{post.3.sub_titulo}}</h3>
                        <p class="post-meta">
                            Creado por
                            <a href="{% url 'perfil-list' %}">{{post.3.autor}}</a> el {{post.3.fecha}}
                            <a class="btn btn-primary text-uppercase endabled" id="submitButton" type="submit" href="">Leer más →</a>
                        </p>
                    </div>
                    {% endif %}
                    {% if  post.4 %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src="{{ posts.4.image.url }}" alt="..." /></a>
                        <a href=""><h1 class="post-title">{{post.4.titulo}}</h1></a>
                            <h3 class="post-subtitle">{{post.4.sub_titulo}}</h3>
                        <p class="post-meta">
                            Creado por
                            <a href="{% url 'perfil-list' %}">{{post.4.autor}}</a> el {{post.4.fecha}}
                            <a class="btn btn-primary text-uppercase endabled" id="submitButton" type="submit" href="">Leer más →</a>
                        </p>
                    </div>
                    {% endif %}
                    {% if  post.4 %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src="{{ posts.4.image.url }}" alt="..." /></a>
                        <a href=""><h1 class="post-title">{{post.4.titulo}}</h1></a>
                            <h3 class="post-subtitle">{{post.4.sub_titulo}}</h3>
                        <p class="post-meta">
                            Creado por
                            <a href="{% url 'perfil-list' %}">{{post.4.autor}}</a> el {{post.4.fecha}}
                            <a class="btn btn-primary text-uppercase endabled" id="submitButton" type="submit" href="">Leer más →</a>
                        </p>
                    </div>
                    {% endif %}
                    {% if  post.5 %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href=""><img style="max-width:100%;" class="card-img-top" src="{% static 'blog/assets/img/contact-bg.jpg' %}" alt="..." /></a>
                        <a href=""><h1 class="post-title">{{post.5.titulo}}</h1></a>
                            <h3 class="post-subtitle">{{post.5.sub_titulo}}</h3>
                        <p class="post-meta">
                            Creado por
                            <a href="{% url 'perfil-list' %}">{{post.5.autor}}</a> el {{post.5.fecha}}
                            <a class="btn btn-primary text-uppercase endabled" id="submitButton" type="submit" href="">Leer más →</a>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}