{% extends 'blog/base.html' %}
{% block titulo %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blogs</h1>
                            <span class="subheading">Blogs de la comunidad</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-1 px-lg-4 col-lg-6">
            <p>Navega por los blogs de la comunidad, o ingresa lo que más te interese en el buscador</p>
            <div class="card mb-4">
              <div class="card-header">Buscar</div>
              <div class="card-body">
                    <form action="{% url 'search-by-name-post' %}" method="get">
                        {% csrf_token %}
                        <input type="search" name="post-titulo">
                        <input type="submit" value="go">
                    </form>     
                    </div>
                  </div>
            </div>
        </div>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                            <h1 class="post-title">{{post.titulo}}</h1>
                            <h3 class="post-subtitle">{{post.sub_titulo}}</h3>
                        <p class="post-meta">
                            Creado por
                            <a href="{% url 'perfil-list' %}">{{post.autor}}</a> el {{post.fecha}}
                            <a class="btn btn-primary text-uppercase endabled bg-dark" id="submitButton" type="submit" href="{% url 'blog-detail' post.id %}">Leer más →</a>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <h1 class="post-title">{{post.titulo}}</h1>
                        <h3 class="post-subtitle">{{post.sub_titulo}}</h3>
                    <p class="post-meta">
                        Creado por
                        <a href="{% url 'perfil-list' %}">{{post.autor}}</a> el {{post.fecha}}
                            <a class="btn btn-primary text-uppercase endabled bg-dark" id="submitButton" type="submit" href="{% url 'blog-detail' post.id %}">Leer más →</a>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <h1 class="post-title">{{post.titulo}}</h1>
                        <h3 class="post-subtitle">{{post.sub_titulo}}</h3>
                    <p class="post-meta">
                        Creado por
                        <a href="{% url 'perfil-list' %}">{{post.autor}}</a> el {{post.fecha}}
                            <a class="btn btn-primary text-uppercase endabled bg-dark" id="submitButton" type="submit" href="{% url 'blog-detail' post.id %}">Leer más →</a>
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <h1 class="post-title">{{post.titulo}}</h1>
                        <h3 class="post-subtitle">{{post.sub_titulo}}</h3>
                    <p class="post-meta">
                        Creado por
                        <a href="{% url 'perfil-list' %}">{{post.autor}}</a> el {{post.fecha}}
                            <a class="btn btn-primary text-uppercase endabled bg-dark" id="submitButton" type="submit" href="{% url 'blog-detail' post.id %}">Leer más →</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block contenido %}{% endblock %}