{% extends 'blog/base.html' %}
{% block titulo %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Borrar blog</h1>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-6 px-lg-10">
            <h4>Borrar:</h4>
            ¿ Estás seguro de borrar el blog {{post.titulo}}? 
            <form method="post">
                {{form}}
                {% csrf_token %}
                <input class="btn btn-primary text-uppercase endabled" type="submit" value="Sí">
            </form>
        
            <p>
                <a href="{% url 'blog-list' %}">Volver a la lista de blogs</a>
            </p>
{% endblock %}
{% block contenido %}{% endblock %}