{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{post.titulo}}</h1>
                            <span class="subheading">{{post.sub_titulo}}</span>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-2 px-lg-8">
            <div class="post-preview">
                <h1 class="post-title">{{post.titulo}}</h1>
                <h3 class="post-subtitle">{{post.sub_titulo}}</h3>
                {% if  post.imagen %}
                <img style="max-width:100%;" class="card-img-top" src="{{ post.imagen.url }}"/>    
                {% endif %}
                <p>{{post.cuerpo}}</p>
                <p class="post-meta">
                Creado por 
                <a href="{% url 'profile-detail' user.id %}">{{post.autor}}</a> el {{post.fecha}}
                </p>
                {% if user.is_authenticated %}
                <p><a href="{% url 'blog-borrar' post.id  %}">Borrar</a> |
                <a href="{% url 'blog-actualizar' post.id  %}">Actualizar</a></p>
                {% endif %}
            </div>
        <p><a href="{% url 'blog-list' %}">Ir a la lista de blogs</a> |
        <a href="{% url 'index-blog' %}">Ir a blogs de la comunidad</a></p>
        </div>
{% endblock %}