{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'blog/assets/img/f.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2>Blogs</h2>
                            <span>Resultado de la búsqueda</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-6 px-lg-10">
            <h4>Lista de Blogs:</h4>
            <p>
                {% if user.is_authenticated %}
                <a href="{% url 'index-blog' %}">Ir a blogs de la comunidad</a> |
                <a href="{% url 'blog-crear' %}">Crear un nuevo blog</a>
                {% endif %}
            </p>
            <table class="table">
                <tr><th>ID</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Fecha de publicación</th>
                    {% if user.is_authenticated %}
                    <th>Acciones</th>
                    {% endif %}
                </tr>
                {% for post in object_list %}
                    <tr>
                        <td>{{post.id}}</td>
                        <td>{{post.titulo}}</td>
                        <td><a href="{% url 'user-list' %}">{{post.autor}}</a></td>
                        <td>{{post.fecha}}</td>
                        <td>
                            <a class="btn btn-outline-dark flex-shrink-0" id="submitButton" type="submit" href="{% url 'blog-detail' post.id %}">Leer más →</a>
                            {% if user.is_authenticated %}
                            <p><a href="{% url 'blog-borrar' post.id  %}">Borrar</a> |
                            <a href="{% url 'blog-actualizar' post.id  %}">Actualizar</a></p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <p><a href="{% url 'blog-logout' %}">Salir de la sesión</a></p>
{% endblock %}