{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'blog/assets/img/2.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h2>{{configabout.titulo}}</h2>
                            <span>{{configabout.sub_titulo}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Ezequiel Bosco 23 años de Castelar provincia de Buenos Aires y Esteban Santillán 28 años de Luján provincia de Buenos Aires,
                            dos estudiantes argentinos que estudiaron en coderhouse te cuentan sobre su blog. </p>
                        <p>Creamos Codeo Blog para vos, para que te acompañe en tus dudas y puedas potenciar tus conocimientos.</p>
                        <p>El lenguaje de programacion es el motor para el mundo de la tecnologia que avanza cada dia mas.</p>
                        <p>Fundamos este blog para que no bajes los brazos y que no te vayas sin poder resolver tus dudas con la ayuda de todos.</p>
                        <p>Queremos que la gente cree debates, muestre diferentes opiniones sobre los temas a publicar y lo más importante, formar una comunidad.</p>
                    </div>
                </div>
            </div>
        </main>

{% endblock %}