{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blogs</h1>
                            <span class="subheading">Blogs de la comunidad</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-1 px-lg-4 col-lg-6">
            <p>Navega por los blogs de la comunidad, o ingresa lo que más te interese en el buscador</p>
            <div class="card mb-4">
              <div class="card-header">Buscar</div>
              <div class="card-body">
                    <form action="{% url 'search-by-title-post' %}" method="get">
                        {% csrf_token %}
                        <input type="search" placeholder="Ingresa tu busqueda..." name="post-title">
                        <input type="submit" value="go">
                        <button class="btn btn-primary bg-dark" id="button-search" type="button">Ir!</button>
                    </form>                     
                    </div>
                  </div>
            </div>
        </div>
        <!-- Main Content-->
        <div class="container px-8 px-lg-5">
            <h4>Blogs:</h4>
            <h6>Titulo Contenido Autor Fecha de publicación</h6>
            {% for blog in object_list %}
            <p>
                {{blog}}
            </p>
            {% endfor %}  
{% endblock %}