{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'blog/assets/img/e.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h4>La página ingresada no existe</h4>
                            <a class="btn btn-outline-dark flex-shrink-0" href="{% url 'pagina-principal' %}">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}