{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'blog/assets/img/a.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2>{{configindex.titulo}}</h2>
                            <span>{{configindex.sub_titulo}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-8 px-lg-5">
            <div class="row gx-8 gx-lg-15 justify-content-center">
                <div class="col-md-10 col-lg-10 col-xl-5 ">
                    <!-- Post preview-->
                    <div class="post-preview">
                            <h3 class="post-title">{{configindex.sub_titulo_1}}</h3>
                    </div>
                    Llegaste al lugar indicado <a class="btn btn-primary text-uppercase endabled" href="{% url 'index-blog' %}">Ver los blogs</a>
                </div>
            </div>
        </div> 
{% endblock %}