{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{blog_post.titulo}}</h1>
                            <h2 class="subheading">{{blog_post.sub_titulo}}</h2>
                            <span class="meta">
                                Creado por 
                                <a href="#!">{{blog_post.autor}} </a> el {{blog_post.fecha}} 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2 class="section-heading">{{blog_post.sub_titulo_1}}</h2>
                        <p>{{blog_post.cuerpo}}</p>
                        <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>
                        <p>{{blog_post.cuerpo_1}}</p>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}