{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'blog/assets/img/a.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2>Usuario</h2>
                            <span>{{user.username}}</span>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-2 px-lg-8">
            <div class="post-preview">
            <table class="table">
                <tr><th>ID</th>
                    <th>Nombre de Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                </tr>
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email}}</td>
                    </tr>
            </table>
        {% if user.is_authenticated %}
        <a href="{% url 'profile-borrar' user.id  %}" class="btn btn-outline-dark flex-shrink-0">Borrar</a> |
        <a href="{% url 'profile-update' user.id  %}" class="btn btn-outline-dark flex-shrink-0">Actualizar</a>
        {% endif %}
        <p><a href="{% url 'user-list' %}">Volver a la lista de usuarios</a> |
         <a href="{% url 'blog-list' %}">Ir a la lista de blogs</a> |
         <a href="{% url 'index-blog' %}">Ir a blogs de la comunidad</a></p>
        </div>
{% endblock %}