{% extends 'blog/base.html' %}
{% block nav %}{% endblock %}
{% block contenido %}
{% load static %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'blog/assets/img/index.jpg' %}');">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2>Usuario</h2>
                            <span>{{user.username}}</span>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-2 px-lg-8">
            {% if user.is_authenticated %}
            <p><a href="{% url 'profile-borrar' user.id  %}">Borrar</a> |
            <a href="{% url 'profile-update' user.id  %}">Actualizar</a></p>
            {% endif %}
        {{object}}
        {% if  object.imagen %}
        <img height="255" src="{{ object.imagen.url }}"/>
        {% endif %}
        <p><a href="{% url 'user-list' %}">Volver a la lista de usuarios</a> |
         <a href="{% url 'blog-list' %}">Ir a la lista de blogs</a> |
         <a href="{% url 'index-blog' %}">Ir a blogs de la comunidad</a></p>
        </div>
{% endblock %}